
* {
  margin: 0px;
  box-sizing: border-box;

}

html {
  /* background-color: #E0FDFF; */
  background-color: #ffb444cb;
}

.back-panel {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;

  background-position: center 10px;

  background-image:
    /* linear-gradient(to right, #8b25ff62 1px, transparent 1px),
    linear-gradient(to bottom, #8b25ff62 1px, transparent 1px); */

    linear-gradient(to right, #3a3a3a62 1px, transparent 1px),
    linear-gradient(to bottom, #3a3a3a62 1px, transparent 1px);

  background-size: 60px 60px; /* size of squares */
}

p, div {
  font-family: "Darker Grotesque", sans-serif;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-size: 1.3rem;
  font-weight: 500;

}


.whole {
  width: 80%;
  height: 100%;
  min-height: 100vh;
  margin: 0px 30px;
  padding-bottom: 0px;
  /* background-color: #E0FDFF; */
  /* background-image: linear-gradient(to bottom, #e0fdffce, #b1e8ecd2); */
  /* background-image: linear-gradient(to bottom, #e0fdff, #97f8ff); */
  background-image: linear-gradient(to bottom, #ffffff, #e7e7e7);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 10px 20px grey;
  /* background-image: url("../assets/squig.png"); */
  
}


.Authentication-box {
  border: 1px solid rgb(136, 136, 136);
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}

.header-banner {
  background-color: #fafafa;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 200px 7.75fr;
  margin-top: 22px;
  padding: 16px 0px 14px 0px;
  position: relative;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-div-box {  
  background-color: rgb(131, 255, 137);
  margin: 10px;
  box-shadow: 4px 4px 0px rgb(196, 255, 188);
}

.green-one {
  margin-left: 26px;
}

.green-two {
  margin-right: 26px;
  margin-left: 6px;
}

.spring {
  width: 220px;
  height: 50px;
}

.kindness {
  position: absolute;
  top: 18px;
  right: 40px;
  font-size: 2rem;
  color: #000000;
  font-weight: 500;
  font-style: italic;
}

.border-top {
  position: absolute;
  width: 96%;
  left: 2%;
  top: -1px;
  height: 1px;
  background-color: #8158af;
}

.border-below {
  position: absolute;
  width: 96%;
  left: 2%;
  bottom: -1px;
  height: 1px;
  background-color: #8158af;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* background-color: #CCEFFE; */
  background-color: #fafafa;
  border-bottom: solid 1px rgb(171, 166, 228);
  padding: 10px 10px 4px 10px;
}

.star-holder {
  width: 0px;
  position: relative;
}

.nav-star {
  position: absolute;
  left: -17px;
  top: 4px;
  height: 34px;
}

.nav-link {
  /* background-color: #A6BFFF; */
  background-color: #60aaff;
  padding: 6px 14px 8px 14px;
  margin-bottom: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  text-decoration: none;
  color: white;
  box-shadow: 4px 4px 0px #6f6de6;
  

}



.nav-link:hover {
  scale: 1.1;
  box-shadow: 4px 4px 4px rgb(111, 109, 230);
  background-color: #5b8aff;

}

.welcome-bar {
  background-color: white;
  /* border-top: solid 1px rgb(175, 88, 175); */
  border-bottom: solid 3px rgb(175, 88, 175);
  padding: 0px 20px 4px 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.welcome-signup, .welcome-signin {
  padding-left: 16px;
  color: #000000;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  transform-origin: 33px 17px;
  
}

.welcome-signup:hover, .welcome-signin:hover {
  color: #8158af;
  transform: scale(1.1);
}

.auth-link {
  padding: 2px 8px 10px 8px;
  margin: 0px 20px;
  color: #000000;
  background-color: #ffffff;
  border: solid 1px rgba(136, 136, 136, 0.945);
  border-radius: 6px;
  box-shadow: 4px 4px 0px black;
  display: inline-block;
}

.auth-link:hover {
  transform: scale(1.1);
}

.profile-split {
  display: flex;
  flex-direction: row;
}

.orange {
  background-color: orange;
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  top: 400px;
  left: 690px;
  z-index: -1;
}



@media (max-width: 600px) {
  .whole {
    width: 100%;
    margin: 0px;
  }
}

@media (min-width: 1600px) {
  .whole {
    width: 1266px;

  }
}