.intention-page-split {
  width: 100%;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
}

.intentions-right-column {
  
}

.add-box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  border: solid 1px black;
  border-radius: 20px;
  margin: 4px;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgb(245, 245, 245);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.challenge-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.add-title {
  padding-bottom: 10px;
}

.intentions-right-column__button-and-pic {
  display: flex;
  justify-content: space-between;
}

.add-intention-button {
  border-radius: 20px;
  background-color: rgb(255, 152, 145);
  height: 120px;
  width: 120px;
  margin-top: 30px;
  margin-left: 10px;
  box-shadow: 4px 4px;
}

/* .add-intention-button:active {
  width: 500px;
  height: 400px;
  transition: 1s;
} */

.mountain-pic-box {
  background-color: rgb(194, 209, 141);
  position: relative;
  margin: 30px 30px 0px 30px;
  padding: 10px;
  width: 220px;
  
}
.mountains-pic {
  position: absolute;
  height: 240px;
  top: -60px;
  left: -10px;
}

.intentions-right-column__display {
  border: solid 1px black;
  margin: 30px 30px 10px 20px;
  padding: 20px;
  height: 400px;
  
  border-radius: 40px;
}


ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;

}

.intentions-left-column {
  background-color: rgb(128, 238, 238);
}

.set-intention {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 6px 20px;
  color: rgb(7, 7, 7);
  box-shadow: 4px 4px 2px rgba(190, 35, 221, 0.301);

}

.intentions-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.quit-intention {
  background-color: rgb(255, 238, 238);
}

.trophy-small {
  height: 80px;
}

.challenge-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intentions-ul {
  height: 540px;
  overflow-y: auto;
}

/* width of scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #ffbe47;
  border-radius: 5px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #ff9e0e;
}

.set-intentions {
  width: 400px;
  background-color: rgb(253, 255, 145);
  margin: auto;
  margin-top: 20px;
}

.challenges-page {
  display: grid;
  grid-template-columns: 0.7fr 3fr 1.5fr;
  width: 90%;
}

.challenge-list-title {
  margin: 40px 0px 2px 0px;
}

.challenges-display-box {
  height: 600px;
  overflow-y: auto;
}

.third-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.add-challenge-button {
  margin-top: 60px;
  margin-left: 20px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: rgb(255, 140, 140);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: white;
  line-height: 0.9;
  font-weight: 500;
  padding-bottom: 14px;
  border: none;
  box-shadow: 4px 4px 0px black;
}

.first-column {
  background-color: rgb(160, 202, 250);
  margin: 50px 20px 30px 0px;
  position: relative;
}

.rosette {
  position: absolute;
  height: 100px;
  transform:rotate(-20deg);
}

.below-add-button {
  background-color: rgb(247, 255, 137);
  margin: 30px 0px 30px 20px;
  width: 80%;
  height: 400px;
  position: relative;
}

.add-button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 12px;
}

.selecting-intention {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.4rem;
  
  
}

.select-trophy-box {
  border: solid 1px black;
  padding: 10px 20px 2px 20px;
}

.trophy-small-select {
  height: 80px;
  margin: 0px 6px;
}

.selected-trophy {
  
  border: solid 2px rgb(47, 255, 47);
  
}

.column {
  position: absolute;
  width: 300px;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%)
}