.awards-box {
  display: grid;
  margin: 10px;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  border: solid;
}

.cabinet {
  background-color: #deb887;
  border-bottom: solid 40px #fcd5a2;
  border-left: solid 10px #ad9069;
  border-right: solid 10px #b69a76;
  border-top: solid 6px #74624a;
  width: 500px;
  height: 120px;
  
}

.cabinet-trophy {
  height: 100px;
  margin: 6px;
}

