/* .page-box {
  margin: 20px 40px;
  
  
  background-color: #fff8ee;
  border: solid 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
} */

.home-box {
  width: 100%;
  justify-items: center;
  padding: 0px 0px;
}

.home-box-top {
  margin: 0px 10px;
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  width: 96%;
}

.home-box-bottom {
  margin: 0px 10px;
  padding: 0px 10px;
  display: grid;
  width: 96%;
  
}

.sign-in-up-bar {
  text-align: center;
  margin: 30px 10px 20px 10px;
}

.welcome-bar-interact {
  text-align: center;
}

.lets-get-you {
  text-align: center;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  padding: 10px;
  margin: 20px;
  background-color: #fff8d6;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
  border-radius: 40px;
}

.info-card-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.login-info-card-box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 40px;
}

.info-card {
  padding: 10px;
  margin: 10px;
  background-color: #A6BFFF;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
  height: 80px;
  
}

.profile-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: rgb(131, 255, 137); */
  background-color: #a4eeee;
  background: linear-gradient(130deg, #a4eeee, #ddffff);
  border: solid 1px rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin: 30px 20px;
  border-radius: 0px;
  /* box-shadow: 5px 8px 0px rgb(111, 109, 230); */
  box-shadow: 5px 8px 0px rgb(144, 144, 144);
  position: relative;
}

.tab-small-profile {
  position: absolute;
  background-color: #a4eeee;
  height: 20px;
  width: 54px;
  top: -19px;
  left: 20px;
  border-radius: 10px 10px 0px 0px;
  border: solid 1px rgba(0, 0, 0, 0.24);
  border-bottom: solid 1px #a4eeee;
}



.profile-home:hover {
  scale: 1.01;
  background-color: rgba(131, 255, 137, 0.9);
  box-shadow: 5px 8px 10px rgb(111, 109, 230);
  
}

.home-wins-box {
  /* background-color: #ffd7a9; */
  background: linear-gradient(130deg, #ffd7a9, #ffedc4);
  border: solid 1px rgba(0, 0, 0, 0.24);
  padding: 20px;
  padding-top: 6px;
  margin: 30px 20px;
  border-radius: 0px;
  /* box-shadow: 5px 8px 0px rgb(111, 109, 230); */
  box-shadow: 5px 8px 0px rgb(144, 144, 144);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab-small-wins {
  position: absolute;
  background-color: rgb(255, 215, 169);
  height: 20px;
  width: 54px;
  top: -19px;
  left: 20px;
  border-radius: 10px 10px 0px 0px;
  border: solid 1px rgba(0, 0, 0, 0.24);
  border-bottom: solid 1px rgb(255, 215, 169);
}

.home-wins-box:hover {
  scale: 1.01;
  background-color: rgba(255, 215, 169, 0.9);;
  box-shadow: 5px 8px 10px rgb(111, 109, 230);
}




.mountain-pic {
  height: 300px;
  
}

.home-cabinet {
  background-color: #deb887;
  border-bottom: solid 30px #fcd5a2;
  border-left: solid 10px #ad9069;
  border-right: solid 10px #b69a76;
  border-top: solid 6px #74624a;
  width: 100%;
  height: 120px;
}

.home-profile-pic-box {
  height: 166px;
  width: 166px;
  background-color: #fffff7;
  border-radius: 10px;
  border-top: solid 24px #e1cbff;
  box-shadow: 4px 4px 0px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 20px 20px;
}

.home-profile-pic {
  width: 120px;
  
  
}

.name-title {
  line-height: 0.2;
  margin-top: 8px;
  margin-bottom: 28px;
  text-decoration: underline;
  
}

.name-title-box {
  /* background-color: #fffff7;
  padding: 10px 20px 0px 20px;
  box-shadow: 4px 4px 0px #000000; */
}

.mantra {
  text-align: left;
  /* background-color: rgb(251, 255, 238);
  border: solid 1px rgba(79, 143, 60, 0.616); */
  /* border-radius: 10px; */
  padding: 4px 10px 10px 10px;
  margin: 4px 0px;
  background-color: #fffff7;
  border: solid 1px #0000003f;
}

.stats {
  /* background-color: rgb(251, 255, 238);
  border-radius: 10px;
  border: solid 1px rgba(168, 111, 64, 0.466); */
  padding: 4px 10px;
  margin: 6px 0px 4px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fffff7;
  border: solid 1px #0000003f;
}

.trophy-info {
  height: 64px;
  /* background-color: rgb(251, 255, 238);
  border-radius: 10px;
  border: solid 1px rgba(168, 111, 64, 0.466); */
  padding: 4px 10px;
  margin: 16px 0px 4px 0px;
  background-color: #fffff7;
  border: solid 1px #0000003f;
}

.cabinet-trophy-home {
  height: 100px;
  margin: 6px 0px;
  cursor: pointer;
}

.cabinet-trophy-home:hover {
  transform: scale(1.1);
}

.awards-title {
  margin-bottom: 5px;
  font-size: 1.6rem;
  line-height: 0.9;
}












/* .done-it-today {
  font-size: 1rem;
  width: 150px;
  margin-bottom: 6px;
}
 */

.other-button {
  width: 60px;
}



.yellow {
  background-color: rgb(255, 255, 161);
  border: solid 1px rgba(0, 0, 0, 0.24);
  /* box-shadow: 5px 8px 0px rgb(111, 109, 230); */
  box-shadow: 5px 8px 0px rgb(144, 144, 144);
}

.turquoise {
  background-color: rgb(125, 255, 216);
  border: solid 1px rgba(0, 0, 0, 0.24);
  box-shadow: 5px 8px 0px rgb(111, 109, 230);
  box-shadow: 5px 8px 0px rgb(144, 144, 144);
}

.magenta {
  background-color: rgb(238, 168, 255);
  border: solid 1px rgba(0, 0, 0, 0.24);
  box-shadow: 5px 8px 0px #6f6de6;
  box-shadow: 5px 8px 0px rgb(144, 144, 144);
}

.blue {
  background-color: rgb(141, 247, 255);
  border: solid 1px rgba(0, 0, 0, 0.24);
  box-shadow: 5px 8px 0px rgb(111, 109, 230);
  box-shadow: 5px 8px 0px rgb(144, 144, 144);
}

.yellow:hover, .turquoise:hover, .magenta:hover, .blue:hover  {
  scale: 1.02;
  box-shadow: 5px 8px 10px rgb(111, 109, 230);
}

.copy-card {
  box-sizing: border-box;
  background-color: #fff8d6;
  border: solid 1px rgba(0, 0, 0, 0.24);
  /* box-shadow: 5px 8px 0px rgb(111, 109, 230); */
  box-shadow: 5px 8px 0px rgb(144, 144, 144);
  margin: 20px 40px;
  padding: 10px 30px;
  width: 90%;
  height: 300px;
}



